*{
margin: 0px;
padding: 0px;
box-sizing: 0px;
}

.layout {
    /*min-height: 100vh;*/
    display: flex;
    flex-direction: column;
}



header {
   min-height: 10vh;
   padding: 0 20px;
   display:flex;
  flex-direction:column;
   background-color:#e45df0;
}

.Container {
    display: flex;
    justify-content: space-between;
  }

.logo img {
width: 150px;
height:150px;
}
.navbar {
    width: 500px;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
}
    
a{
   border: 2px solid blue;
   border-radius: 25px;
   padding: 0 20px;
   width: 50px;
   background-color: antiquewhite;
   text-decoration: none;
gap: 5px;}
  

.title1{
    display: flex;
    align-self: center;
       color: darkred;
}

.main{
    display: flex;
    flex-direction:column;
     background-color: #ffc4f5;
    flex-grow: 1;
}

footer{
    display: flex;
    flex-direction: column;
     background-color: yellow;
    font-size: 10px;
    
    
    }

.banner{
    display: flex;
 
          
}
   
.banner img{   
    width: 100vw;
    height: 20vh;
      
      }


.pag1 {
    display: flex;
    flex-direction: column;
    align-content: space-between;
   
        }

h1{
    padding: 30px 30px;   
    width: 90vw;
    font-size: 20px;
    font-style: normal;
}

.pag1 img{
    display: flex;
    object-fit: cover;
    height: 450px;
    width: 100vw;

}

.aboutus{
    display: flex;  
    flex-direction: column; 
    
    background-color: #ffc4f5;
    height: 90vh;
    justify-content: space-around;
   
    gap: 15px;  
    padding:10px 50px ;
    flex-grow: 1;
    
}
.image1 img{    
    width: 180px;
    height: 180px;
    
}

.text1{
    width: 100vw;
    display: flex; 
    align-self: center;   
}

.image1 {
   
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-self: flex-start;
    gap: 10px;
 
  } 

  
.image2 img{       
    width: 180px;
    height: 180px;
}

.image2 {
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-self: flex-start;
    gap: 10px;
 
}
.image3 img{       
        width: 180px;
        height: 180px;  
}
.image3 {
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-self: flex-start;
    gap: 10px;

}

.main tip{
    background-color: #ffc4f5;
    height: 90%vh;
    width: 1360px;
}

.tip1 img{
    width: 200px;
    height: 200px; 
    margin:15px 100px; 
}
.tips img {
    width: 180px;
    height:180px; 
    margin:15px 100px; 
}
.tip1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 25px ;
}

.tips{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 25px ;
}
.titulo{
    margin:0px 350px;
    text-align:center;
}
.subtitulo{
    margin:0px 150px;
    text-align:center;
} 

.tabla{
    display: flex;
    flex-direction: column;
    width:100vw;
    height: 90hv;  
     background-color: #b9828b;
    
}

table, tr, th, td {
border: 2px solid blue;
}

table,td {
    font-size:15px;
}
.table layout {
 
    display:flex;
    flex-direction: column;
      
}

table {
    
   height: 150px;
    text-align: center;
    border-collapse: collapse;
    font-size: 20px;
    gap: 20px;
    
}
.Conimg img{
        width: 300px;
        height:300px; 
        justify-content: space-around;
}

.tituloC {
    width: 95vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
 
}

.contact {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 100hv;
    width:100vw;
    background-color: #b9828b;
}


    
.mapa {
    display: flex;
    flex-direction: row;
    align-self: center;
    max-width: 40wh;


}

.label {
    display: flex;
    flex-direction: column;
}   

 .raffletit {
    font-size: 20px;
    text-align: center;
 }
 .summit {
    display: flex;
    flex-direction: row;
 }
.pay {
    display: flex;
    flex-direction: column;
}
.message {
    display: flex;
    flex-direction: column;
}